
/*	****************************************
	Base styles
**************************************** */
#first{
	background-image: url("../images/background1.jpg");
	background-size: 100% 100%;
	position: relative;
}

#second{
	background-image: url("../images/background2.jpg");
	background-size: 100% 100%;
	position: relative;
}

#third{
	background-image: url("../images/background3.jpg");
	background-size: 100% 100%;
	position: relative;
}

@media(max-width: 950px){
	#first{
		background-image: url("../images/");
		background-color: WHITE;
	}

	#second{
		background-image: url("../images/");
		background-color: GREY;
	}

	#third{
		background-image: url("../images/");
		background-color: WHITE;
	}
}

/*	****************************************
	Layout styles
**************************************** */

.bottomText {
	position: absolute;
	bottom: 150px;
	left: 50px;

	display: flex;

	padding: 10px;
	color: WHITE;
	background-color: rgba(0,0,0, 0.7);
}

.itemRight {
	margin-left: 450px;
}

@media(max-width: 950px){
	
	.bottomText{
		display: inline;
		position: relative;
		bottom: 0px;
		left: 0px;

	}

	.itemRight {
		margin-left: 0px;
		padding-top: 500px;
	}

}

/*	****************************************
	Module styles
**************************************** */

.button {
	border: 5px solid BLACK;
	background-color: BLACK;
	color: WHITE;
	text-decoration: none;
	padding: 20px;
}

.button:hover {
	background-color: WHITE;
	color: BLACK;
}

.jumboHeader {
	font-size: 45px;
	color: WHITE;
		background-color: rgba(0,0,0, 0.7);

}

/*	****************************************
	State styles
**************************************** */

/*	****************************************
	Theme styles
**************************************** */

p {
	font-size: 20px;
}